<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Application Logo</span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <mat-radio-group>
      <mat-radio-button value="1"> OpenWeatherApi </mat-radio-button>
      <mat-radio-button value="2">
        There should be second weather api
      </mat-radio-button>
    </mat-radio-group>
  </mat-toolbar-row>

  <!-- TODO: live search -->
  <!-- <mat-toolbar-row>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let city of cities" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-toolbar-row> -->
</mat-toolbar>
