<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="header">
      <span>Application Logo</span>
      <img class="avatar" *ngIf="vkProfile" [src]="vkProfile.photo100" alt="" />
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <mat-radio-group
      [formControl]="selectedAPIControl"
      (change)="updateSelectedAPI($event)"
    >
      <mat-radio-button [value]="weatherAPIes.OpenWeather">
        OpenWeatherApi
      </mat-radio-button>
      <mat-radio-button [value]="weatherAPIes.ColorfulClouds">
        ColorfulCloudsApi
      </mat-radio-button>
    </mat-radio-group>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <form class="autocomplete-form">
      <mat-form-field class="full-width">
        <mat-label>Select City</mat-label>
        <input
          type="text"
          placeholder="Pick one"
          aria-label="Select City"
          matInput
          [formControl]="locationInputControl"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete
          (optionSelected)="updateSelectedCity($event)"
          autoActiveFirstOption
          #auto="matAutocomplete"
        >
          <mat-option
            *ngFor="let option of cityList; trackBy: trackByFn"
            [value]="option"
          >
            {{ option.text }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </mat-toolbar-row>
</mat-toolbar>
